.carrier4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: column;
}
.bgeffect {
    width: 50%;
    height: 740px;
    background-image: url('bg1.jpg');
    background-size: cover;
    background-position: right;
    position: fixed;
    z-index: -2;
    right: 0;
    bottom: -20%;
    border-radius: 200px;
    box-shadow: inset 0px 0px 30px 25px #ca654d;
}
.carrier4 p {
    margin: 15px;
}
.carrier4 h1 {
    margin: 15px;
}
.search_bar {
    margin: 15px;

}
.search_bar input {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #000;
    background: transparent;
}
.search_bar button {
    width: 10%;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #000;
    transition: 0.5s ease-in-out;
}
.search_bar button:hover {
    color: #fff;
    background: #000;
    box-shadow: 0px 0px 5px 2px #000;
}

.carrier4 button {
    cursor: pointer;
}
.tables_pay {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
    
}

.popup {
    width: 50%;
    height: 300px;
    background: #ca654d;
    border-radius: 15px;
    border: 2px solid #000;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    margin: 15px;
    box-shadow: 0px 0px 10px 2px #000;
}
.popup a {
    cursor: pointer;
    margin: 10px;
    color: #00f;
}
.popup div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: left;
    margin: 10px;
}
.popup p {
    font-weight: bold;
    margin: 5px 0 5px 0;
}
.labelsb label {
    font-weight: bold;
}
.destroy_update {
    width: 100%;
    height: auto;
    margin: 10px 0 10px 0;
}
.destroy_update button {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    color: #000;
    background: transparent;
    border: 3px solid #000;
    font-weight: bold;
    transition: 0.5s ease-in-out;
}
.destroy_update button:hover {
    background-color: #000;
    color: #fff;
    box-shadow: 0px 0px 5px 2px #000;
}