.carrier4 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    flex-flow: column;
}
.carrier4 button {
    cursor: pointer;
}
.tables_pay {
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column;
}

.popup {
    width: 50%;
    height: 300px;
    background: #d9d9d9;
    border-radius: 15px;
    border: 2px solid #000;
    display: flex;
    opacity: 1;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    margin: 15px;
}
.popup a {
    cursor: pointer;
    margin: 10px;
    color: #00f;
}
.popup div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: left;
    margin: 10px;
}
.popup p {
    font-weight: bold;
    margin: 5px 0 5px 0;
}
