.carrier4 {
    width: 100%;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    background-color: #ADD8E6;
}
.title {
    animation: fadeinT 1s 1s forwards;
    opacity: 0;
}
@keyframes fadeinT {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.boxes {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 0px 0px;
}
.box {
    width: 250px;
    height: 250px;
    margin: 15px;
    border: 3px solid #000;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    justify-content: center;
    transition: 0.8s ease-in-out;
    animation: fadein 1s forwards;
}
.box:hover {
    color: #fff;
    background: #000;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px 10px #000;
}
.box h1 {
    margin: 0 0 0 10px;
}
@keyframes fadein {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}