* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carrier {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("Carrier3/pic4.png");
    background-size: cover;
    background-position: center;
}
body {
    background-color: #A7D1E5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
